/target
/mkosi.output/
/mkosi.cache/
/mkosi.builddir/
/mkosi.tools/
/mkosi.local.conf
/mkosi.key
/mkosi.crt
/mkosi.extra/usr/bin/oneos
/mkosi.extra/usr/bin/oneosd
/mkosi.extra/usr/bin/oneos-splash
*.raw
*.raw.zst
*.uki
*.efi
*.initrd
*.vmlinuz
/initrd
/initrd.cpio.zst
/oneos_*
.oneos-*
