[Unit]
Description=OneOS Session Bus
Documentation=https://github.com/Languangxun/oneos
PartOf=oneos-session.service

[Service]
Type=simple
RuntimeDirectory=oneos-session
RuntimeDirectoryMode=0700
RuntimeDirectoryPreserve=yes
ExecStart=/usr/bin/dbus-daemon --session --address=unix:path=/run/oneos-session/bus --nofork --syslog-only
Restart=on-failure
