[Unit]
Description=OneOS Boot Time Recorder
Documentation=https://github.com/Languangxun/oneos
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/oneos-splash --record

[Install]
WantedBy=multi-user.target
