[Unit]
Description=OneOS Graphical Session
Documentation=https://github.com/Languangxun/oneos
Conflicts=getty@tty1.service
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service oneos-session-bus.service oneos-splash.service
Requires=oneos-session-bus.service
StartLimitIntervalSec=0

[Service]
Type=simple
Environment=HOME=/root
Environment=XDG_RUNTIME_DIR=/run/oneos-session
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/oneos-session/bus
Environment=XDG_SESSION_TYPE=wayland
Environment=LIBSEAT_BACKEND=builtin
Environment=WLR_RENDERER=pixman
ExecStart=/usr/bin/labwc
Restart=on-failure
RestartSec=3
TimeoutStopSec=5

[Install]
WantedBy=graphical.target
